@utility container {
  max-width: var(--wp--style--global--wide-size);
  @apply px-4 mx-auto;

  @media (width >= theme(--breakpoint-sm)) {
    @apply px-8;
  }

  @media (width >= theme(--breakpoint-xl)) {
    @apply px-0;
  }
}

@utility alignfull {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
}

@utility alignwide {
  width: min(100%, var(--wp--style--global--wide-size));
  margin-left: calc(
    50% - min(50%, var(--wp--style--global--wide-size) / 2)
  ) !important;
  margin-right: calc(
    50% - min(50%, var(--wp--style--global--wide-size) / 2)
  ) !important;
}

@utility alignnone {
  height: auto;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@utility aligncenter {
  display: block;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@utility alignleft {
  float: left;
  margin-right: 1.5rem !important;
  margin-bottom: 1rem !important;
}

@utility alignright {
  float: right;
  margin-left: 1.5rem !important;
  margin-bottom: 1rem !important;
}
