@import "@fontsource-variable/plus-jakarta-sans";

@import "tailwindcss";
@import "./_theme.css";
@import "./_utilities.css";
@import "./_custom.css" layer(utilities);

@source '../../vendor/tailpress/framework/**/*.php';
@source '../../vendor/tailpress/framework/**/**/*.php';

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-outline, currentColor);
  }

  body {
    @apply font-sans text-on-surface-variant;
  }
}
